:root {
  --step--2: clamp(0.7813rem, 0.7759rem + 0.0268vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9196rem + 0.0893vi, 1rem);
  --step-0: clamp(1.125rem, 1.0893rem + 0.1786vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2893rem + 0.3036vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5248rem + 0.4759vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.8019rem + 0.7106vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.1274rem + 1.0271vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.5093rem + 1.4505vi, 3.8147rem);
  --headerForm: #334155;
  --inputTextArea: rgb(90, 90, 90);
  --darkBlue: #145079;
}

.cvContainer {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 100%;
  min-height: 62rem;
}

.leftSideContainer {
  min-width: 60%;
}

.basicInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  min-height: 20rem;
}

.userNameHeader {
  font-size: var(--step-2);
  color: #075985;
  padding-left: 1rem;
}

.userJobHeader {
  font-size: var(--step-1);
  color: #0e7490;
  padding-left: 1rem;
}

.presentationText {
  padding-top: 1rem;
  font-size: var(--step--2);
  max-width: 95%;
  padding-left: 1rem;
}

.cvSmallText {
  padding-top: 1rem;
  font-size: var(--step--2);
}

ul {
  padding-left: 1.2rem;
  max-width: 95%;
  list-style: disc;
}

.headerContainer {
  max-width: 92%;
}

.cvHeader {
  font-size: var(--step--1);
  color: var(--darkBlue);
  padding-left: 1.4rem;
}

.skillHeaderLine {
  border: 1px solid var(--darkBlue);
}

.headerLine {
  border: 1px solid var(--darkBlue);
  max-width: 96%;
}

.jobPlaceJobText {
  font-size: var(--step-0);
  min-width: 8rem;
}

.resultCompagnyText {
  font-size: var(--step--1);
  max-width: 10rem;
}

.durationText {
  font-size: var(--step--2);
  width: 100%;
}

.rightSideContainer {
  max-width: 40%;
}

.contactInfoContainer {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  min-height: 20rem;
}

.contactContainer {
  display: flex;
  word-wrap: break-word;
}

.material-symbols-outlined {
  font-size: var(--step-0);
  color: var(--darkBlue);
}

.iconText {
  font-size: var(--step--2);
  max-width: 80%;
  min-height: 3rem;
  padding-left: 0.4rem;
}

.listItemContainer {
  display: flex;
}

.educationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skillContainer {
  padding-left: 0.6rem;
  margin-left: 0.5rem;
}

.skillText {
  font-size: var(--step-0);
  padding-left: 0.4rem;
}

@media (min-width: 622px) {
  .cvContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 80%;
    max-height: 48rem;
  }
}

@media (min-width: 768px) {
  .cvContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 77%;
    max-height: 48rem;
  }
}

@media (min-width: 1024px) {
  .cvContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 20rem;
    width: 99%;
    max-height: 48rem;
  }

  .iconText {
    font-size: var(--step--2);
    max-width: 74%;
    min-height: 3rem;
    padding-left: 0.4rem;
    min-width: 80%;
  }
}

@media (min-width: 1440px) {
  .cvContainer {
    display: flex;
    justify-content: center;
    background-color: white;
    margin-bottom: 20rem;
    width: 65%;
    max-height: 48rem;
  }

  .iconText {
    font-size: var(--step--2);
    max-width: 74%;
    min-height: 3rem;
    padding-left: 0.4rem;
    min-width: 80%;
  }
}
