@import url("Cv.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e7eb;
  font-family: sans-serif, serif, monospace;
}

h1,
h2,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.pageContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  max-width: 100%;
  height: 100%;
}

.leftSidePage {
  max-width: 110rem;
  min-height: 30rem;
}

.rightSidePage {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

@media (min-width: 622px) {
  .rightSidePage {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .rightSidePage {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .leftSidePage {
    width: 100%;
    min-height: 30rem;
  }
}

@media (min-width: 1024px) {
  .pageContainer {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    height: 40%;
  }

  .leftSidePage {
    max-width: 43%;
    max-height: 105rem;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: #475569;
    scrollbar-width: thin;
  }

  .rightSidePage {
    display: flex;
    justify-content: center;
    max-width: 57%;
    max-height: 105rem;
    background-color: #d4d4d8;
  }

  .skill-container {
    padding-left: 10.2rem;
  }
}

@media print {
  .leftSidePage {
    display: none;
  }
}
